<html>
{% extends "AppVS_PoCFinCrime/Layout.html" %}
<head>
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'site3.css' %}" />
</head>
<body>
    {% block content %}
    <h1>Cargar un fichero de clientes</h1>
    <form action="{% url 'CargarClientes' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file1"> Upload a file</label>
        <input type="file" id="file1" name="file">
        <small>Only accepts CSV files</small>
        <button type="submit">Upload</button>
    </form>
    {% endblock %}
</body>
</html>