<html>
{% extends "AppVS_PoCFinCrime/Layout.html" %}
<head>
    <title>{{ title }}</title>
    {% load staticfiles %}
    {% load render_table from django_tables2 %}
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}" />
</head>
<body>
    {% block content %}
    <h1>Lista de Clientes</h1>
    {% if customers_list %}
    {% render_table customers_list %} 
    <ul class="pager">
        <li>
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
        </li>
        <li>
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </li>
    </ul>
    {% else %}
    <p>No hay clientes.</p>
    {% endif %}
    {% endblock %}
</body>
</html>